In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.DataFrame({ "x" : np.array([0,1,2]), "y": np.array([10,11,12])})

   x   y
0  0  10
1  1  11
2  2  12

## 1. Data Types
 - Series (1d)
 - Data Frames (2d)
 - Anatomy of a Data Frame (axis = 1 (col) , axis = 0 (row))

## 2. Improting Data & Exporting Data

## 3. Describing Data
 - .dtypes, .columns, .index,
 - .sum(), .describe(), info(), .mean()

## 4. Viewing & Selecting Data
 - .head(), .tail(), .loc(), .iloc(), .columns(df['A'])
 - boolean indexing (df[df['A'] > 5])
 - .crosstab(), .plot(), .hist()

## 5. Manipulating Data
 - .str (df['A'] = df['A'].str.lower())
 - .fillna, .dropna, .drop, .sample, .reset_index()
 - .apply(lambda x: x/1.6)